
# BEGIN WordPress
# Les directives (lignes) entre « BEGIN WordPress » et « END WordPress » sont générées
# dynamiquement, et ne doivent uniquement être modifiées via les filtres WordPress.
# Toute modification des directives situées entre ces marqueurs sera surchargée.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

## WP Defender - Prevent information disclosure ##

<FilesMatch "\.(md|exe|sh|bak|inc|pot|po|mo|log|sql)$">
Require all denied
</FilesMatch>

<Files robots.txt>
Require all granted
</Files>

<Files ads.txt>
Require all granted
</Files>

<Files wp-config.php>
 order allow,deny
 deny from all
</Files>

Options All -Indexes
<Files .htaccess>
 order allow,deny 
 deny from all 
</Files>
## WP Defender - End ##
